@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #FFCDAB !important;
    font-family: 'Mali', sans-serif !important;
}
  
.container {
    color: #41204D !important;
}
  
.btn {
    background-color: #EB8F6F !important;
}

.btn:hover {
    background-color: #de582b !important;
}

/* intro.html */
.intro-text {
    background-color: #EB8F6F;
}

/* quiz.html */
.quiz-container {
    color: #41204D;
    display: flex;
    flex-direction: column;
}

.question-title {
    background: #FFCDAB;
}

.answer-list {
    cursor: pointer;
}

.custom-list-item {
    background-color: #FFB27E;
    border: none;
}

.custom-list-item:hover {
    background-color: #EB8F6F;
}

.custom-list-item.disabled-option {
    cursor: no-drop;
    pointer-events: none;
}

.cat-image {
    width: 18%;
}